/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 0, 0, 0.8));
    color: white;
}

header {
    background-color: rgba(31, 29, 29, 0.85);
    color: white;
    padding: 20px 0;
    text-align: center;
    /* font-size: 24px; */
}

.slideshow-container {
    max-width: 800px; /* Tamaño máximo del contenedor del slideshow */
    position: relative;
    margin: 20px auto; /* Centrar el contenedor */
}

.mySlides {
    display: none;
    animation: fadeEffect 1.5s;
}

img {
    vertical-align: middle;
    max-width: 100%; /* Imágenes responsivas */
    height: auto; /* Mantener la proporción */
}

/* Fading animation */
@keyframes fadeEffect {
    from {opacity: .4} 
    to {opacity: 1}
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.5); /* Semi-transparent black background for text */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.6); /* Semi-transparent red */
    color: white;
    border: none;
    cursor: pointer;
}

#dynamicText {
    display: inline-block;
    animation: animateText 10s infinite;
    color: white; /* Añade este estilo para hacer el texto visible */
}

@keyframes animateText {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}











